body {
    font-family: Arial, sans-serif;
    direction: rtl;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: white;
    padding: 20px;
}
section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
}
footer {
    background-color: #333;
    color: white;
    padding: 10px;
    position: absolute;
    width: 100%;
    bottom: 0;
}
a {
    color: #FFD700;
    text-decoration: none;
}
